body {
    color: $black;
    background-color: $main-blue;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    $topbar-responsive-bg: $main-blue;
    $topbar-responsive-animation-type: fade-in; // or use slide-down or none

    .topbar-responsive {
        background: $topbar-responsive-bg;
        padding: 1rem 1.5rem;

        .topbar-responsive-logo {
            color: $white;
            vertical-align: middle;
        }

        .menu {
            background: $topbar-responsive-bg;

            li {
                margin: 0 1rem 0 1rem;

                @media screen and (max-width: 950px) {
                    margin: 1rem;
                }
            }

            a {
                color: $white;
                transition: color 0.15s ease-in;

                &:hover {
                    color: $other-blue;
                    transition: 0.3s;
                }
            }

            .button.hollow {
                border: 2px solid $white;
                color: $white;
                transition: 0.3s;

                &:hover {
                    border: 2px solid $other-blue;
                    color: $other-blue;
                    transition: 0.3s;
                }
            }

            .topbar-responsive-button {
                color: $white;
                border-color: $white;
                border-radius: 5000px;
                transition: color 0.15s ease-in, border-color 0.15s ease-in;

                &:hover {
                    color: lighten($topbar-responsive-bg, 60%);
                    border-color: lighten($topbar-responsive-bg, 60%);
                }

                @media screen and (max-width: 950px) {
                    width: 100%;
                    margin: 0.875rem 0;
                }
            }
        }

        @media screen and (max-width: 950px) {
            padding: 0.75rem;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes slideDown {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0%);
        }
    }

    @media screen and (max-width: 950px) {
        .topbar-responsive-links {
            animation-fill-mode: both;
            animation-duration: 0.5s;
            width: 100%;

            @if $topbar-responsive-animation-type==slide-down {
                animation: slideDown 1s ease-in;
            }

            @else if $topbar-responsive-animation-type==fade-in {
                animation: fadeIn 1s ease-in;
            }

            @else {
                animation: none;
            }
        }
    }

    .menu-icon.is-active::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #0a0a0a;
        top: 0;
        left: 0;
        box-shadow: 0 7px 0 #0a0a0a, 0 14px 0 #0a0a0a;
    }

    .menu-icon.is-active:hover::after {
        background: #8a8a8a;
        box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a;
    }


    .nav-toggle .line {
        width: 35px;
        height: 5px;
        background-color: #ecf0f1;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .nav-toggle {
        position: absolute;
        right: 10px;
        top: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    #nav-toggle {
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #nav-toggle.is-active {
        animation: smallbig 0.6s forwards;
    }

    @keyframes smallbig {

        0%,
        100% {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }

        50% {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
        }
    }

    #nav-toggle.is-active .line:nth-child(1),
    #nav-toggle.is-active .line:nth-child(2),
    #nav-toggle.is-active .line:nth-child(3) {
        -webkit-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    #nav-toggle.is-active .line:nth-child(2) {
        opacity: 0;
    }

    #nav-toggle.is-active .line:nth-child(1) {
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
    }

    #nav-toggle.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
    }

    .notification {
        fill: $white;
        width: 18px;
        height: 18px;
        transition: 0.3s;

        &:hover {
            fill: $other-blue;
            transition: 0.3s;
        }
    }

    .input-group-rounded {
        .input-group-field {
            border-radius: 5000px;
            padding-left: 1rem;
            height: 50px;
        }

        /* Pseudo elements for icons */
        .btn:before {
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            position: relative;
            -webkit-font-smoothing: antialiased;
        }

        .icon-arrow-right:before {
            content: "\e00d";
        }

        .btn-search {
            border-radius: 50px;
            color: #fff;
            overflow: hidden;
        }

        .btn-search:before {
            position: absolute;
            height: 100%;
            font-size: 100%;
            line-height: 3.5;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        .btn-search-before:before {
            left: 130%;
            top: 0;
        }

        .btn-search-before:hover:before {
            left: 80%;
        }

        .input-group-button .btn {
            font-family: 'Lato', Calibri, Arial, sans-serif;
            border-radius: 5000px;
            font-size: 0.9rem;
            margin-left: -45px;
            height: 50px;
            width: 200px;
            background-color: $other-blue;
            border: 1px solid $other-blue;
            border: none;
            cursor: pointer;
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            outline: none;
            position: relative;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;

            &:hover {
                background: lighten($other-blue, 5%);
            }
        }
    }

    [type='search'],
    textarea {

        border: 1px solid $other-blue;
        background-color: $white;
        color: $other-blue;

        &:focus {
            border: 1px solid $other-blue;
        }
    }

    .search {
        margin-top: 55px;
    }

    .welcome-message {
        text-align: center;
        padding-bottom: 30px;
    }


}